[2009-11-23 18:16] delano opened #1 "Frozen string issue in StatusException.message"
from: http://github.com/jamis/net-sftp/issues/closed/#issue/1
by: [appoxy](http://github.com/appoxy)

I ran into this problem with net-sftp:

I catch the Exception from net-sftp and when I try to call ex.message, I get a can't modify frozen string exception.

Code:

[code]

Which in turn throws another exception due to the ex.message:

[code]

Backtrace:

[code]

---

Confirmed that this fixes it:

[2009-12-07 21:59] sstofiel opened #2 "#<IOError: closed stream>"
I am using sftp.download!(remote_dir, local_dir, recurssive => true) to download and entire directory (anywhere from 1 to 15 .zip files).  I am getting an error #<IOError: closed stream>.

I have been told:

I tried forcing it to D/L one file at a time using (:requests => 1) option but it still crashed after downloading 15.9MB

Anyone else run into a problem like this?

[2010-01-11 07:51] graaff opened #3 "Tests are broken: undefined method `readpartial' for #<Net::SSH::Test::Socket:0x7f770ee6f438>"
When trying to run the test suite in net-sftp-2.0.4 I get ~95 errors about readpartial being undefined. Here is an example output:

 93) Error:
test_upload_io_should_send_io_as_file(UploadTest):
NoMethodError: undefined method `readpartial' for #<Net::SSH::Test::Socket:0x7f770ee6f438>
    /usr/lib64/ruby/gems/1.8/gems/net-ssh-2.0.17/lib/net/ssh/transport/server_version.rb:48:in`negotiate!'
    /us

[2010-01-15 20:04] #3 closed, assigned to nobody

[2010-10-02 01:25] burzmali opened #4 "Error when aborting in-progress download"
Hello,
When calling abort! on an in-progress download(er), pending operations will crash the SFTP library.
example crash:

<pre>
/usr/lib/ruby/gems/1.9.1/gems/net-sftp-2.0.5/lib/net/sftp/operations/download.rb:337:in `on_read': read /somefile.txt: invalid handle (9) (RuntimeError)
        from /usr/lib/ruby/gems/1.9.1/gems/net-sftp-2.0.5/lib/net/sftp/request.rb:87:in `call'
        from /usr/lib/r

[2011-03-12 17:53] bitboxer opened #5 "Problems getting directory listings"
I have a small problem connecting to one of our servers. I have this little test code:

require 'net/sftp'

[code]

I get this exception:

[code]

I have added a

[code]

into the name.rb  to check it's contents and it was this:

[code]

can this mean that there was an encoding issue and the code couldn't parse the answer from the server?

When using a sftp command line utility or java, I can conn

[2011-04-06 09:51] wereHamster opened #7 "How to debug timeouts"
I'm trying to connect to a sftp server and I'm getting a timeout when I try to .dir.foreach('/absolute/path'), but it works if I use .dir.foreach('./relative/path').

[2011-05-05 10:45] mcarpenter opened #8 ":permissions attribute and umask"
I'm trying to use :permissions with #mkdir but the results
are affected by umask and I can't see a way to set that via the API.

Client:
- ubuntu 10.10
- ruby 1.8.7 (stock ubuntu)
- net/ssh 2.1.4
- net/sftp 2.0.5

(net/sftp, net/ssh installed by rubygems, ubuntu stock libnet-ssh-ruby
and libnet-sftp-ruby packages not installed)

Server:
- local or remote ubuntu or solaris, stock sshd
- umask 027

[2011-05-11 23:38] #8 closed, assigned to nobody

[2011-12-21 00:33] peymano opened #10 "hangs and garbage filenames"
I've got a simple script for enumerating files on an SFTP server and downloading a subset of the files there. Sometimes the script works. Other times, it hangs. I've attached the output running w/ `:verbose => :debug`. I print the names of the files found with `puts "  found: #{obj.name}"` -- notice that the first file name is fine, but the 2nd is blank (!), and the 3rd is garbage. Further down, t

[2012-05-30 23:40] ryanstout opened #13 "After using ssh.sftp, ssh channel/exec hangs."
I've attached some sample code.  I'm trying to get the exit status of commands, and also use the same connection to upload a file.  You can see in the example that the command runs fine until I've used .sftp from the ssh connection.  Also, if I do this after the sftp call it works:

connection.sftp.close_channel()
connection.instance_variable_set('@sftp', nil)

I'm thinking there's a way to keep b

[2012-08-25 19:55] Harrison-Uhl opened #14 "sftp.upload throws exception when..."
When using sftp.upload to upload a directory recursively, an exception is thrown if the destination directory(s) already exist.

Patched (only in my private copy) sftp/operations/upload.rb lines 162 and 302 to append:
    || response.code == 4   # where 4 appears to be the response code for: target directory already exists

This takes care of the problem, but I don't know the code base well enough

[2012-08-28 06:19] tokafish opened #15 "net-sftp broken on OpenSSH_4.2"
I'm having a problem connecting to an SFTP server using Net::SFTP.

The code is fairly simple:

[code]

In the debug output, I get the following:

establishing connection to sftp.server.com:22
connection established
negotiating protocol version
remote is `SSH-2.0-OpenSSH_4.2-chrootssh'
local is`SSH-2.0-Ruby/Net::SSH_2.5.2 x86_64-darwin11.4.1'
read 704 bytes
received packet nr 0 type 20 len 700
got

[2012-09-26 07:05] graaff opened #16 "Test failures with net-sftp"
When trying the tests from current master with ruby 1.9.3p194 (2012-04-20 revision 35410) [x86_64-linux] I'm getting a number of test failures. With ruby 1.8 I'm also seeing failures but the test suite appears to hang altogether. I'm seeing similar failures with the released 2.0.5.

[code]

[2012-10-01 16:45] m3nd3s opened #17 "Net::SFTP::Operations::Dir#glob doesn't works as Dir#glob"
Hi,

The Dir#glob method has some wildcards that Net::SFTP::Operations::Dir#glob doesn't understand, there is plan to implement that features?

[2012-11-15 14:09] tillvollmer opened #18 "upload! has a memory and cpu hunger ?"
Hi,

I am using this code:
      Net::SFTP.start(backup.hostname, backup.username, :password => password, :port => backup.port) do |sftp|
        sftp.upload!(filename, backup.path + "/" + File.basename(filename))
      end

to upload a file to an external server.

The file is 33 MB in size

The uploading uses 32 GB !!!! and often 100% CPU time (it finished after a while, but ruins my server)

Any

[2012-11-22 10:52] lovee opened #19 "Call to download!, Why args [0].size is nil? upload! is normal. thanks :)"
HI!
Version:
[code]
---
[code]
[code]

[2013-01-26 15:01] acoulton opened #21 "File handles still open during a download on_close event"
Net::SFTP::Operations::Download fires the on_close event to indicate that a file has finished transfer before it closes the file handles - see [L329](https://github.com/net-ssh/net-sftp/blob/master/lib/net/sftp/operations/download.rb#L329)

[code]

On Windows at least, this makes it difficult to use the on_close event to set file modification time, as the operating system gives an access denied er

[2013-01-28 10:18] unregistered opened #22 "Lockup on fetching a directory with special UTF8 characters"
Using version 2.0.5 with net-ssh 2.6.3. OpenSSH_5.9p1, OpenSSL 0.9.8r 8 Feb 2011 (rMBP, ML).

I'm trying to list a directory with a funny UTF8 character such as `牌九` or `Frosty ☃`.

I connect:

[code]

But the code never makes it past @handle.dir.entries. When I turn on `:verbose => :debug` for my Net::SFTP::start options, I see the following:

[code]

And it stops here and stays here forever.

[2013-03-06 06:38] rberger opened #23 "Max value for :read_size for Net::SFTP::Operations::Download options?"
NOTE: I ended up with corrupted data because of this issue...

When I use Net::SFTP::Operations::Download  with defaults my downloads take **dramatically** longer than if I use the command line Ubuntu sftp transfer.

I figured if I upped the :read_size it would go faster. The doc says:

[code]

Well I set it to some big numbers (like 104857600) and it did indeed go MUCH faster. But it also skipped

[2013-03-29 21:56] jhulford opened #24 "SFTP.start fails to close without raising an exception"
For some reason, the SSH session initialized in the sftp.start method raises an exception when it's closed at line 36.  Everything else I do in the session (downloading files, etc) appears to work fine.  It just blows up on the session.close.

I'm running this against a WingFTP server, on Ubuntu 12.10 w/ OpenSSL version OpenSSL '1.0.1c 10 May 2012' and the SSH protocol version that's being picked

[2013-04-03 18:19] #24 closed, assigned to nobody

[2013-05-13 18:37] bradland opened #27 "Downloading large files (>4GB) fails with hang"
## Overview

@testflyjets over at [SD Ruby](https://groups.google.com/forum/?fromgroups=#!topic/sdruby/4OhfZ4hklIA) came across a puzzling issue when downloading files larger than 4 GB using `Net::SFTP#download!`. In summary, the download runs (with 64K read_size) up to 4294049792 bytes (≈3.99915 GB), at which point the process hangs. When given an interrupt (ctrl+c) after the hang, the top stack

[2013-06-06 09:14] harold-s opened #28 "Upload hangs. How to manage ?"
Hello,

 I'm using net-ssh 2.0.5 on ruby 1.9.3p194
I use the method sftp.upload! with the do |event, uploader, *args| in order to save in my database the progress of the upload. (We are dealing with large uploads) and to keep the number of Bytes sent to compare them with my file.

This works quite well but sometimes the process just hangs. I guess the connection has reset. No exceptions are raised

[2013-07-01 11:34] martin21 opened #31 "please support protocol version 3 ("posix-rename@openssh.com")"
While trying to make distkeys work with Ruby 1.9 in order to get it included in Debian, I tried to work around bug

ruby-net-ssh: can't add a new key into hash during iteration during ssh.exec
https://github.com/net-ssh/net-ssh/issues/110

by using sftp.rename!, however openssh 6.2p1 does not yet support sftp protocol version 5 for flags 0x0001 for overwrite and 0x0002 for atomic rewrite yet:

Bug

[2013-07-06 15:04] #23 closed, assigned to nobody

[2013-07-06 15:08] #28 closed, assigned to nobody

[2013-07-29 18:48] schuergs opened #32 "setstat: owner/group uses local name->uid translation"
When doing:
sftp.setstat!("/remote/path", :owner => "user", :group => "group")

the translation of "user" to uid and of "group" to gid is done using the local /etc/passwd.
This causes errors if a user/group exists on the local machine, but not on the remote one.
(probably having a user with the same name, but different uid is even worse)

[2014-02-12 20:39] yoshie902a opened #33 "Encoding::UndefinedConversionError: "\xA8" from ASCII-8BIT to UTF-8"
I wrote code that was working in pure ruby, but copied my code over to rails and now I get:

Encoding::UndefinedConversionError: "\xA8" from ASCII-8BIT to UTF-8

Ruby 2 and Rails 4

What can I change in my code to get this working?

[code]

Log

[code]

[2014-03-04 14:23] getu-lar opened #34 "New option to ignore existing remote directories with recursive upload"
I found it highly confusing that it is not possible to upload a directory to overwrite existing files in existing directories. Since the upload operation tries to create every directory it encounters, it raises an exception and aborts as soon as one of the directories exists. I had to resort to monkey-patching to work around this issue but I think this should be easy enough to add to the library i

[2014-05-14 09:49] epcim opened #35 "session.rb - pending_requests.any? - NoMethodError for nil:NilClass"
I am getting `NoMethodError: undefined method`any?' for nil:NilClass`in`net-sftp-2.1.2/lib/net/sftp/session.rb:801`.

What fills `pending_requests`? Is it desired to check it for nil?

I workarounded it by:
`/opt/chef/embedded/lib/ruby/gems/1.9.1/gems/net-sftp-2.1.2/lib/net/sftp/session.rb` at line 801 by adding `pending_requests = pending_requests ? pending_requests : {}`:

[code]

Original log f

[2014-05-21 18:36] AkashMartin1 opened #36 "unable to connect !"
<code>

[code]

output:

D, [2014-05-21T23:55:42.127168 #4549] DEBUG -- net.ssh.transport.session[147ef68]: establishing connection to 71.249.140.49:30
D, [2014-05-21T23:55:42.424844 #4549] DEBUG -- net.ssh.transport.session[147ef68]: connection established
I, [2014-05-21T23:55:42.425062 #4549]  INFO -- net.ssh.transport.server_version[147e02c]: negotiating protocol version
D, [2014-05-21T23:55:42

[2014-05-21 19:29] #36 closed, assigned to nobody

[2014-08-14 13:00] milgner opened #38 "Invalid signature?"
Error message from bundler:

[code]

[2014-08-14 13:03] #38 closed, assigned to nobody

[2014-10-01 05:57] asomsmartzip opened #39 "gm install : certificate not valid after 2014-02-06"
C:\Rails4Projects>gem cert --add gem-public_cert.pem
Added '/CN=delano/DC=solutious/DC=com'

C:\Rails4Projects>gem install net-sftp -P HighSecurity
Fetching: net-sftp-2.1.2.gem (100%)
ERROR:  While executing gem ... (Gem::Security::Exception)
    certificate /CN=delano/DC=solutious/DC=com not valid after 2014-02-06 11:57:45 UTC

[2015-01-20 16:09] bambamx opened #41 "sftp.upload! changes the forwardtick for an interrogation symbol on the remote server"
Hello Im trying to upload a file with a forwardtick on the filename, the upload proccess works but on the remote server the forwardtick is changed by an interrogation symbol

Example
Local file name: The Posesión.pdf
Remote Result: The Posesi?n.pdf

http://stackoverflow.com/questions/28049446/ruby-net-sftp-changes-the-forwardtick-for-an-interrogation-symbol-on-the-remote

[2015-01-20 17:54] bambamx commented on #41
Just to keep this post alive it seems that this is a bug related to character encoding, I tested this on a windows server and I got 'incompatible character encodings: ASCII-8BIT and UTF-8'

[2015-02-17 14:49] mach-kernel commented on #33
@delano

All you have to do to fix it is this: http://stackoverflow.com/a/21739976

[2015-03-16 19:02] #41 closed

[2015-03-17 17:20] hhercules commented on #27
I just ran into this to, just when I thought I had solution I ran into this limit. What I am doing is a little different than net-sftp, I am using net-ssh connection sessions. I am passing command to run remotely and output data to console. Something like "cd /directory && tar cz directory2", it stops basically same place reported above.

$ ls -ltrh ../local/
-rw-rw-r-- 1 user user 4.0G Mar 17 09:

[2015-03-20 17:18] kenchan0130 commented on #33
I think remote file includes binary, maybe.
As a temporary measure, passing a IO object to `local` argument of Download class.

Tolerating nil against `local` argument on download method, I think it should have a mechanism for determining the binary,

[2015-03-30 11:38] lichtamberg commented on #33
I have the same problem..

[2015-04-10 19:25] ragalie opened #43 "Append mode doesn't work"
`Operations::File` assumes that all operations start with the position at 0, when in append mode the assumption is that the position is EOF.

[2015-05-04 14:02] coreypmurphy opened #44 "Uploading Directory Tree Fails ("no such file") when Subdirectory is Empty"
Uploading (recursively) a directory tree containing files and subdirectories fails when an empty subdirectory is encountered.  In the error below, I'm uploading a "bare clone" of a new git repo.  The bare clone contains files and folders, one of which, "branches" is empty.

Net::SFTP::StatusException (Net::SFTP::StatusException mkdir /sftp_repo_testing/test.git/branches (2, "no such file"))
  /Use

[2015-05-13 15:36] bastianwegge commented on #33
+1

[2015-05-18 12:54] Pajk commented on #39
[code]

[2015-05-26 21:11] coreypmurphy commented on #44
Figured out the issue.  Not necessarily a problem with the gem per se however I'd like to recommend an update to the documentation.

My problem stemmed from the fact that I was trying to perform a recursive upload of a directory without the directory folder already existing on the remote.  My assumption was that the upload of "local directory" to "remote directory" would upload the contents of the

[2015-05-26 21:11] #44 closed

[2015-08-21 16:49] rgull opened #46 "Permission denied (publickey)"
When convert a private ket ppk file to Open SSH using PuttyGen, then this exception appear "Permission denied (publickey)" on client.Connect() method

[2016-01-21 19:13] arkiver commented on #39
+1 I'm seeing this too.

[2016-02-13 01:19] baburdick commented on #27
I'm seeing something potentially related with a much smaller file. The notion that the `sshd` server sends back something that Net::SSH/Net::SFTP can't handle, leaving it waiting sounds very plausible. Here's the relevant backtrace when I restart the sidekiq instance running this upload:
[code]
Is there anyway to instrument Net::SFTP to log the server's response, so we can see what's happening?

[2016-02-13 01:28] baburdick commented on #27
My production environment:
[code]

[2016-02-13 03:06] bradland commented on #27
This is the approach I started to take way back when I submitted this bug. Unfortunately, I found that I didn't know nearly enough about the SFTP protocol to make heads or tails of what I was logging. Not to mention, 1) identifying the problem at the 4 GB boundary was extremely time consuming, and 2) the logging operation would consume >4GB, which was causing a lot of churn on my SSD that I wasn't

[2016-02-15 14:49] gruz0 commented on #33
+1

[2016-02-16 14:46] ckornaros opened #47 "Cannot get the connected server fingerprint"
Hello, I cannot find a method to validate that the server which I open a connection is a known server.
Is it possible to add a method to get the fingerprint of the connected server (something like http://php.net/manual/en/function.ssh2-fingerprint.php ) ?

[2016-05-06 20:13] #7 closed

[2016-05-12 06:54] solars opened #52 "Specifying ssh keys only possible with piggy backing?"
Hi there,

I wondered how I can connect to an SFTP Server and specify my keys (custom location). I first thought it isn't possible but then discovered that you can piggy-back on a net-ssh connection. net-ssh allows to define a location for the keys so I ended up with:

Net::SSH.start('server', 'seekda', {keys: ['mykeyfile'], passphrase: 'pass'}) do |ssh|
  ssh.sftp.connect do |sftp|
    sftp.dir.f

[2016-05-12 07:44] mfazekas commented on #52
You should be able to pass net-ssh options to net-sftp directiy.

[code]

[2016-05-12 07:44] #52 closed

[2016-05-14 13:49] david-frederick commented on #33
+1

[2016-05-16 00:56] kochd opened #53 "slow upload"

[2016-05-16 02:35] #53 closed

[2016-05-16 10:03] kochd opened #54 "slow upload"
[code]

This test upload random data to "test-host". I can get 800-1000 Kb/s on a 1 Gbit ethernet connection. CPU is almost at 100%. Is there a way to get that any faster or is it a limitation of net-sftp ?

[2016-07-07 21:23] type-face opened #55 "certificate not trusted"
$ gem install net-sftp -P HighSecurity

Fetching: net-ssh-3.2.0.gem (100%)
ERROR:  While executing gem ... (Gem::Security::Exception)
    root cert /CN=net-ssh/DC=solutious/DC=com is not trusted

[2016-07-13 12:51] AaronJRubin commented on #39
+1

[2016-08-08 15:54] stuffandthings commented on #2
Does anyone have any more info on this? Encountering the same issue.

[2016-09-22 07:17] romanm-odysii commented on #55
I receive SSL certificate error:
	Fetching: net-sftp-2.1.2.gem (100%)
	ERROR:  While executing gem ... (Gem::Security::Exception)
		certificate /CN=delano/DC=solutious/DC=com **not valid** after **2014**-02-06 11:57:45 UTC
Can someone fix this issue with installing appropriate SSL certificate?

[2016-09-30 17:15] theforgottenviking opened #56 "Net::SFTP::Operations::FileFactory directory?"
What is the reason for directory? to not return false if a directory doesn't exist? Instead you receive a "File not found" and are required to handle the exception.

[2016-10-06 12:05] yuyat commented on #33
+1

[2016-12-01 00:38] duncan-bayne opened #57 "net-sftp hanging indefinitely; PR wanted?"
One of our clients is experiencing a production bug where net-sftp is looping indefinitely.  We believe this is because the server to which they're connecting stops receiving data, but doesn't close the connection.

I'd like to submit a PR with a configurable time-out, but I note that net-sftp is in maintenance mode. @delano, would you in principle be interested in such a PR?

[2016-12-01 05:03] mfazekas commented on #57
@duncan-bayne what is the net-ssh version? Have you tried with https://rubygems.org/gems/net-ssh/versions/4.0.0.rc1?
Is this something that can be reproduced?

[2017-01-23 22:36] dymk opened #58 "`gem-public_cert.pem` is expired"
[code]

Certificate expired about two years ago, it seems. Consider updating it to allow secure installs of the net-sftp gem?

[2017-04-16 22:10] rrodriguez1975 commented on #46
I have same problem. How did you solve it? could you share?

[2017-04-24 04:33] danielmyasnikov opened #63 "After ~300MB the file download fails"
Could you please navigate me how to debug this issue. Happens in production not on local server

[2017-04-24 05:06] mfazekas commented on #63
What is the error you're receiving?

[2017-05-16 14:18] ccoenen opened #64 "Windows, ruby 2.3.3 (32bit), net-sftp 2.1.2 and Pageant don't play nicely"
[code]

<details>
<summary>Info about my environment</summary>

`bundler env`
## Environment

[code]
</details>

[2017-05-16 14:25] mfazekas commented on #64
Have you tried recent net-ssh versions 4.*?

[2017-05-16 14:31] ccoenen commented on #64
I'm very sorry for the confusion. Apparently my Gemfile.lock specified an ancient version of net-ssh.

[2017-05-16 14:31] #64 closed

[2017-05-29 15:42] guillec commented on #57
Upgrading the SSH gem to version 4.1.0 helped my situation.
I was having a strange problem where a Delayed::Job would hang while uploading a file.
It would upload a file but never close the connection.

The strange thing is that this would only happen when triggering Delayed::Job manually.

Upgrading my ssh gem fixed the problem for my situation.

[2017-07-11 22:32] bobber205 commented on #63
Are people psychic where you live? Give some details man, that's github 101.

[2017-07-12 03:03] mfazekas commented on #63
Closing the issue for lack of details. Feel free to add information, i'll reopen then.

[2017-07-12 03:03] #63 closed

[2017-08-04 21:54] kkuchta opened #65 "IO doesn't work with CSV"
`io = sftp.file.open` claims to produce an IO-like object.  Unfortunately, it doesn't seem to be quite io-like enough for ruby's built-in CSV library.  If I do `CSV.new(io)`, I get an error:

[code]
Tracing this through, it looks like CSV is ultimately trying to call `io.get(separator, limit)` (which is supported in the [full io spec](http://ruby-doc.org/core-2.3.0/IO.html#method-i-gets), but sftp

[2017-08-09 19:02] lakshmi2703 opened #66 "Files are listing as junk characters"
I am trying to list directory, but it displayed as junk characters. However the same site working without any issues with perl, php
Sample code:
Net::SFTP.start(host, username, :password => password, :port => 22) do |sftp|
      sftp.dir.foreach(folder) do |entry|
        next if (entry.name == '..' || entry.name == '.')
        puts entry.name
       end
end
I am getting like this:
epubtesepubte

[2017-09-01 21:26] dakingdom opened #67 "Error: Connection reset by peer - recvfrom(2)"
Push of files to a remote via ruby net-SFTP causes "Connection reset by peer - recvfrom(2)" error . Pulling of remote of files is fine.

Found out our routers intrusion detection and prevention was causing this error trying to stop this type of venerability: SSH_EVENT_RESPOVERFLOW.

This does effect Linux command line scp pushes too. scp pulls are also fine.

It seems to occur on larger file sizes

[2017-10-06 04:01] mistergibson opened #68 "sftp.open("/path/to/file.txt", "r") => response[:handle] returning file *content* instead of a file handle."
When using open or open! I get the content of a given file instead of a nice file handle to read chunks from.

[2017-10-08 01:14] mistergibson commented on #68
OK - found a fix:

sftp.file.open(blah blah ...) works perfectly

[2017-10-08 01:14] #68 closed

[2017-10-10 13:40] milgner commented on #2
We're seeing this error with a new server. Everything worked fine in the past with other servers but now we're seeing the exact same behaviour as @jumph4x - is there any known workaround?

[2017-11-01 15:34] menge101 commented on #66
I am also seeing this problem.

[2017-11-09 02:32] cyclotron3k commented on #57
I think this is a problem I'm facing too, but I'm finding it difficult to reliably replicate.

[2017-12-06 18:21] heatlill commented on #66
Hello,
For what its worth I found this...
https://stackoverflow.com/questions/42124883/broken-filenames-with-ruby-when-connected-to-sftp-version-5

In a nut shell if a particular server is using a protocol version > 3 you can see this behavior (corrupted filenames).  I applied the fix (aka hack) of setting the HIGHEST_PROTOCOL_VERSION_SUPPORTED variable to 3 in sftp/session.rb locally and the issu

[2017-12-14 20:57] kwerle commented on #65
Yup.  I'll be doing the same workaround for the same issue.

[2018-01-22 08:47] onnimonni opened #71 "sftp raises Net::SFTP::StatusException when globbing is not possible ( Alpine linux )"
Hey!

I just created a sftp server docker image with alpine for my integration tests:
https://github.com/CheckoutFinland/docker-dummy-sftp-server

I then tried to use glob file matching like this:
[code]

Which raises weird looking:
[code]

I found out that this probably happens because alpine linux uses musl-c library which doesn't support [glob](https://github.com/zendframework/zend-stdlib/issue

[2018-02-06 23:54] BenLiyanage commented on #27
I believe I just ran into this too.  Does anyone have a work around, or a different package they can recommend?

[2018-02-07 00:01] erikh commented on #27
ya'll might want to look at the golang solution: https://godoc.org/golang.org/x/crypto/ssh which I have been using and is very complete.

I'm speaking in terms of what this library can do to debug its issue. Not promoting other works here.

[2018-02-15 21:44] jessebs commented on #27
An option that is working for me is to use SCP for the actual file transfer.

Use the net-scp gem and hange `sftp.download!(remote_path, local_path)` to
`sftp.session.scp.download!(remote_path, local_path)`

[2018-03-03 17:48] rainkinz commented on #27
Same issue here, but I had downloaded a number of files. Once the combined file size got to 4Gb, it stopped working:

[2018-05-24 08:21] mfazekas commented on #27
FWIW a similiar bug that caused net-scp to fail on larger than 4GB file transfers got fixed in `net-ssh`.

https://github.com/net-ssh/net-scp/issues/39

If anyone can try to repro the bug with net-ssh 5.0.0.rc1 i'd welcome feedback:

https://rubygems.org/gems/net-ssh/versions/5.0.0.rc1

[2018-05-24 10:14] mfazekas commented on #27
I'm colsing the issue as i was able to reproduce the bug with 4.2.0 but not with 5.0.0.rc1. Please comment with details if you don't agree.

[2018-05-24 10:14] #27 closed

[2018-06-07 17:33] tlubz opened #76 "Gemspec borked on v2.1.3-rc1"
Installing v2.1.3-rc1 using Bundler results in the following error

[code]

Digging into the code, it looks like `net/sftp/version` is requiring `net/ssh/version`, which may not be part of the load path yet. It's only guaranteed to be in the load path _after_ the gem's dependencies are installed, and the gemspec needs to be loaded in order to determine which dependencies to install.

![self destru

[2018-06-07 21:05] marco-gallardo commented on #76
Just confirming that the issue was introduced on https://github.com/net-ssh/net-sftp/commit/4ffe058c25993101443dc7d05885b7fa2f7128e7.

My application was working just fine but after doing a new deployment today the error showed up.

Error was gone when I just left `gem 'net-sftp'`, which I think it also confirms that the `require_relative` worked once dependencies were installed (previously I had

[2018-06-08 07:20] mfazekas commented on #76
@marco-gallardo thanks for reproting the issue, yes i think the correct fix is making`Net::SFTP::Version` to stand on it's own and not to inherit - Net::SSH::Version.

[2018-06-14 04:45] mfazekas commented on #76
@marco-gallardo can you confirm this is fixed with net-sftp-2.1.3.rc2, thanks ?

[2018-06-14 04:45] #76 closed

[2018-07-09 23:20] joshuamcginnis opened #77 "Adding `read` and `size` to Net::SFTP::Operations::File"
I'd like to stream a file from SFTP to AWS S3. Currently, this is not supported because `Net::SFTP::Operations::File` is not a *real* IO.

AWS checks for IO-like objects for S3 operations ([source](https://github.com/aws/aws-sdk-ruby/blob/571c2d0e5ff9c24ff72893a08a74790db591fb57/gems/aws-sdk-core/lib/aws-sdk-core/param_validator.rb#L160-L164)):
[code]

Would there be any objection and/or issues wi

[2018-07-31 21:05] wakproductions commented on #67
I'm getting the same error message, but uploading via FileZilla SFTP client works just fine. @dakingdom was the intrusion detection problem on the FTP server side or the local network you were uploading from?

[2018-08-01 02:39] dakingdom commented on #67
The dropping of the transfer was either coming into our local network or within our local network. Always in the uploading direction. I tested it with scp and a large file. In this case a large file would be in the 200MB or larger range. Smaller files than that was not a problem. Sorry I guess, my reference frame for large file should have been clearer.

[2018-08-01 17:28] wakproductions commented on #67
I think I resolved the issue. Previously I was using code similar to this to perform the upload:

[code]

Seems to be working when I do it this way:

[code]

[2018-08-22 18:44] wakproductions opened #78 "Directory listing encoding problem"
I'm trying to get a directory listing from an SFTP server and I'm getting this output:

[code]

The filenames are scrambled with `\x00` type of characters. It looks like an encoding issue, but I'm having trouble figuring out how to do a  proper conversion. Can anyone help lead me into the right direction to working around this?

[2018-08-22 19:32] wakproductions commented on #78
When I look into the data returned by net-ssh here's what I find:
[code]
Could this be some kind of protocol mismatch? Can't tell if this is a problem of `net-sftp` or `net-ssh`

[2018-08-23 17:10] wakproductions commented on #78
I've determined that the server is using SFTP protocol version 5, but this gem does not support it properly. It is unable to read some of the file attributes. I was able to get a temporary fix by putting this in my program:
[code]

[2018-08-24 11:35] mfazekas commented on #78
@wakproductions thanks for the report, unfortunately i don not have time to fix this, but PR's are more than welcome

[2018-09-11 13:02] badosu opened #79 "Hangs on login with local vsftp"
Net-sftp gets stuck right after `SFTP.start` is called.

Running it in verbose mode results in:

[code]

The corresponding log for vsftp, running in localhost:

[code]

<details>
<summary>vsftpd.conf</summary>
<pre>
# Example config file /etc/vsftpd.conf
#
# The default compiled in settings are fairly paranoid. This sample file
# loosens things up a bit, to make the ftp daemon more usable.
# Pleas

[2018-09-12 13:53] badosu commented on #79
It also does not work with bftpd locally.

[2018-09-12 15:01] badosu commented on #79
Misconfiguration, closing.

[2018-09-12 15:01] #79 closed

[2018-09-19 18:01] fa-cruzfernandez commented on #33
Does the commit attached by @psmandzich to this ticket fix it for all cases? (I'm using ruby 2.3.1 for what it's worth)

[2018-10-01 20:57] fa-cruzfernandez commented on #33
I think my initial comment is kind-of-incorrect. This issue should be closed, as the problem is not in the code of the gem, but mostly on how the file was opened (it shouldn't be opened in text-mode, to avoid UTF-8 problems).

[2018-10-26 20:57] jstuckey commented on #65
I ran into this issue as well.

A workaround using streams is to provide a row separator to `CSV::new` (assuming you know it in advance). This skips over the problematic code in `CSV#init_separators` that tries to automatically detect the separator using `io.get(separator, limit)`.

[code]

[2018-10-28 20:29] mfazekas commented on #65
Thanks for the report! PR-s are wellcome!

[2018-11-05 21:28] joshuamcginnis commented on #77
@mfazekas Apologies for bugging you, but wanted to get some initial feedback and this issue has been open for a while. Any thoughts?

[2018-11-06 18:18] mfazekas commented on #77
@joshuamcginnis sorry, yes PR is welcome. `read` and `size` sounds straightforward, not sure about `rewind`.

[2018-11-07 20:43] klausbadelt commented on #54
How would we do that, since current dependency is < 5.0.0? I get
[code]

[2018-11-08 08:21] kochd commented on #54
<pre>
net-ssh-5.0.2
ruby 2.3.3p222 (2016-11-21) [x86_64-linux-gnu]

Writing to /tmp/sftptest-db47ebf82fdb8187e434f60515dbaaf4/16758f72bbf44702c879f9c960d73702/e0b9a14214a1f1240558360c19ae49b2/70ea432fc7066873528ea1a9f2424e06 with 261120 bytes buffer size
 100 % | 9379.368576679717 kB/s
Writing to /tmp/sftptest-f3cd0a5510682cba942348dff07c104d/ebd17e381ecc64956afcec5fcbced4eb/ff7583ec48f28e26a68c18

[2018-11-08 08:55] kochd commented on #54
Profiled the cpu_time:

[code]

<pre>
Writing to /tmp/sftptest-b00494de2546dee3847b03749d478765/fdd98e30300f6e217f33092f2046d14d/5474eba4213226c5016d62f1c8b7f845/66d54924ee5777ee4d68622729c52da5 with 261120 bytes buffer size
 100 % | 7638.226483269771 kB/s
Measure Mode: cpu_time
Thread ID: 46994982883540
Fiber ID: 46994988755760
Total: 5.700000
Sort by: self_time

 %self      total      self

[2018-11-08 09:13] mfazekas commented on #54
@kochd thanks much for the profile, unfortunately for first glance there doesn't seems to be any low hanging fruit there. With net-ssh 5.* was it still cpu bound, was cpu usage still 100%?

[2018-11-09 22:52] klausbadelt commented on #54
In any case, 10x-ish performance improvement makes our use case at least work. Posting PRs.

[2018-11-19 20:47] joshuamcginnis commented on #77
@mfazekas PR #83 posted. Thanks.

[2018-11-23 04:35] Buullo opened #84 "Can't Download Multiple Files"
I used download multiple files.

  Net::SFTP.start(host, user, port: port, password: password) do |sftp|
    path = Rails.root.join('tmp', 'test')
    FileUtils.mkdir_p path
    sftp.dir.glob(remote_path, "*test*.zip") do |entry|
      filenames << entry.name
    end

    dls = filenames.map do |filename|
      sftp.download("#{remote_path}/#{filename}", (path + filename).to_s)
    end
    dls.eac

[2018-12-06 17:38] Laykou opened #85 "Release 2.1.3"
Would you please be able to make official release 2.1.3 so that we can pull from Ruby gems instead of master branch?

We are interested in the performance optimization merged in https://github.com/net-ssh/net-sftp/pull/82

[2018-12-12 17:37] mfazekas commented on #85
@Laykou have you tried `2.1.3.rc2` did it work for you?

[2018-12-13 18:39] kmwhite commented on #35
For whatever it's worth, I also ran into this issue when attempting to use the SFTP gem to transfer files off of an SSH server. Using a proper SFTP service fixed the issue.

[2019-01-04 22:02] itmart opened #88 "Blocking real SFTP connections in test environment"
Hi,

We are using Minitest to test our code and we usually stub out the SFTP request so it won't hit the real SFTP server. But in the case that we forgot to do that, is there a way to block real SFTP requests?

Thanks!

[2019-01-04 22:12] mfazekas commented on #88
@itmart i guess you can use the :proxy option to make sure you cannot connect to actual servers or  mock `Socket.tcp` as net-ssh uses that to open tcp sockets.

[2019-01-04 22:21] itmart commented on #88
@mfazekas Thanks for replying! Is there an example of the `:proxy` option you're referring to? I tried to find it but I couldn't find it the docs. This is the docs I'm looking at: https://www.rubydoc.info/gems/net-sftp/2.0.5/Net/SFTP.

I'll also look into mocking `Socket.tcp`!

[2019-01-05 05:39] mfazekas commented on #88
`:proxy` is an `net-ssh` option see
https://www.rubydoc.info/github/net-ssh/net-ssh/Net/SSH
you can pass something non nil to it like:

`proxy: :disable_net_connections`

that will raise an error whever you try to connect to anywhere

[2019-01-05 12:16] mfazekas commented on #19
The reason is that on upload we know the size of the file on download we don't. We could add an extra `fstat` call to each download, but i think that's too much overhead in general.

Maybe it could be done optionally.

[2019-01-05 12:16] #19 closed

[2019-01-05 12:20] mfazekas commented on #85
I don't think we'll release `2.1.3.rc-s` because of potential semver issues. We might have a `3.0.0` soon

[2019-01-05 12:20] #85 closed

[2019-01-07 17:14] itmart commented on #88
I see, I will look into the `:proxy` option and see if I can figure anything out. Thank you for your suggestions!

[2019-01-07 17:14] #88 closed

[2019-02-08 15:03] jkarnesPerfectCube commented on #84
I don't see you checking to make sure that the filenames are, in fact, Files.

I have received this error when attempting to treat a directory as a file on accident. Can you please list the content of `filenames`?

[2019-02-15 08:14] phyzalis commented on #15
I am facing the same issue, did you find something?

[2019-02-15 19:05] HarlemSquirrel opened #90 "How can I see a response from the server when authentication fails?"
In following [this Everbridge guide](https://support.everbridge.com/articles/Technical_Support/Everbridge-Suite-Winter-2018-SFTP-Security-Upgrade-FAQ) I am able to get the following message even with permission denied.

[code]

Using Ruby and this gem I have this so far.
[code]

[2019-02-15 19:44] HarlemSquirrel commented on #90
I've got it.

[code]

[code]

[2019-02-15 19:44] #90 closed

[2019-02-19 20:04] jbielick opened #91 "SINGLE_FILE_READERS/write_next_chunk race condition?"
Hello maintainer(s)!

Thanks so much for your work and curation. I've recently resurfaced from deep-sea debugging and have a question about my understanding of the `Operations::Upload` code—i.e. if there's a race condition when uploading a single (small) file.

### Background

`Net::SFTP 2.2.1`
`Net::SSH 4.2.0`
`Ruby 2.4.1`
`protocol version 6`

An application I work on regularly uploads small csv

[2019-03-01 18:10] remear opened #92 "3.0.0 release"
How are things looking for a 3.0.0 release?

[2019-03-01 19:04] mfazekas commented on #92
@remear have you tried 3.0.0.beta1?

[2019-03-04 17:51] remear commented on #92
We're in the process of testing it for our use cases.

[2019-06-28 13:38] kapso opened #94 "undefined method `send_data' for nil:NilClass"
Null check is missing, I keep seeing this error.

[code]

[2019-08-08 18:59] asheynkman commented on #94
seeing this as well, where there any resolutions on this?

[2019-08-17 00:25] freayd opened #95 "Preserve modification and access times"
Hi there,

Could we add an option to download files while preserving their modification and access times? A flag `recursive: true` added to the method `Net::SFTP::Session#download` would be nice to have. It could work like the -p option of the sftp command line.

Here's my quick and dirty fix:
[code]

I can work on a pull request if you support the idea.

[2019-09-06 10:16] yu-coder opened #96 "Can't connect SFTP server via net-sftp"
Hi, I am going to connect an SFTP server and create a file.
This is my code with correct credentials.

[code]

But I am getting this error:
**Net::SSH::Disconnect (disconnected:  (11)):**

Could anyone please help me to fix?
Thank you.

[2019-09-06 10:18] yu-coder commented on #96
Hi @mfazekas could you please help me to fix?

[2019-09-06 10:24] yu-coder commented on #96
This is detailed information.

[code]

[2019-09-06 10:29] yu-coder commented on #96
This is a detailed log:

[code]

[2019-09-08 16:53] yu-coder commented on #96
I could connect using FileZilla, but can't connect using my code.
Could anyone please help me?
Thank you.

[2019-09-10 09:15] yu-coder commented on #96
Anyone, please help me to fix?

[2019-09-10 11:49] mfazekas commented on #96
@yu-coder

It seems that server responds internal server error for publickey attempt, if it's password auth that you're using you can try to limit methods to password only.

I'm closing as this doesn't sounds a bug in net-sftp

[2019-09-10 11:49] #96 closed

[2019-09-11 06:51] Laykou commented on #78
@wakproductions You saved my day! I run into the same issue in the production and was very frustrated what is going on. :)

Thanks!

[2019-09-11 07:24] Laykou commented on #78
I found a workaround by changing the protocol directly and not the constant. This approach works only in a block though

[code]

[2019-09-27 19:48] 9mm opened #97 "Is there any way to "proxy" SFTP?"
I am using Heroku which dynamically changes IP, but I have to connect to an SFTP logging service that requires a static IP.

The SFTP connects fine using `net-sftp` but from my local computer only because it's whitelisted.

Is there some way I can use a proxy with net-sftp or net-ssh?

[2019-09-27 19:52] 9mm commented on #88
How do we pass the net-ssh config into net-sftp?

[2019-09-27 20:06] 9mm commented on #97
It appears I can use proxy with net-ssh, i'm just trying now to figure out how to pass net-ssh config into net-sftp .start()

[2019-09-27 20:15] 9mm commented on #97
Ok I found out after looking at the source the opts argument goes right into Net::SSH and supports all these https://www.rubydoc.info/github/net-ssh/net-ssh/Net/SSH#start-class_method 👌🏼

[2019-09-27 20:15] #97 closed

[2019-10-10 19:26] callaars commented on #78
You could also do a workaround by simply overriding the `Net::SFTP::Session` class like this

[code]

That way you don't have to override a constant and you don't need to use it in a block only.

[2019-11-19 00:05] contentfree opened #98 "#upload with an actual File object unexpectedly closes the file"
In the case where you use #upload with an open file handle (instead of a string path), the file is unexpectedly closed in #write_next_chunk(file) after reading the last chunk. The closing is important when a File has been opened (when given a path), but is detrimental to further usage of an open File.

For now the workaround is to check if the file is closed after the upload and reopen it.

[2019-11-20 19:19] RootTJNII opened #99 "Pseudo-io writes fail for >= 256kB writes"

[2019-11-20 20:01] RootTJNII commented on #99
`upload!` doesn't have this problem, working around it with a tempfile.

[2019-12-20 10:29] yu-coder opened #100 "Can't connect SFTP(AWS EC2) with QuotaGuard Static IP"
I am using **QuotaGuard Static Addon** on **Heroku** to access the **SFTP server(AWS EC2)** which has whitelisted IP.

I have tried to connect with a **private key** file.
This is my code.

[code]

But it is failed to connect with this error.

`WARN: Net::SSH::Proxy::ConnectError: {:version=>"HTTP/1.1", :code=>502, :reason=>"Bad Gateway", :headers=>{}, :body=>nil}`

**HOST**, **USER**, **FTP_KEY**

[2019-12-20 16:20] yu-coder commented on #100
The issue was the wrong AWS EC2 Security Group.

[2019-12-20 16:20] #100 closed

[2020-01-21 07:17] yu-coder opened #101 "What is the way to upload a file from the FTP server to AWS S3 Bucket?"
Hi, I want to know what the way is to upload the file from the FTP server to AWS S3 Bucket?

[2020-02-05 23:52] kmeyerhofer commented on #2
I ran into this issue trying to `upload!` a small file (950 bytes) and found a workaround.
In my situation, I need to upload a file into a specific directory on the remote server. If I used `opendir!` on the directory, the `upload!` method didn't raise the `IOError`.

[code]

net-sftp version 2.1.2
net-ssh version 5.2.0
ruby version 2.5.3

[2020-02-25 19:45] ch1ago opened #103 "Anybody interested in helping me mock this gem with ftpmock?"
Dear reader,

I've just finished building gem 'ftpmock'. It acts just like gem 'webmock', but for FTP.

https://github.com/thejamespinto/ftpmock

I've added a placeholder proxy for this gem right here https://github.com/thejamespinto/ftpmock/blob/master/lib/ftpmock/proxies/net_sftp_proxy.rb

**Please come help if you can.**
Best,
James.

[2020-03-09 08:03] thbar commented on #92
I wonder just about the same, as I'm about to embark in a project which requires SFTP connectivity from Ruby ^_^.

The latest official release (2.1.2) is now almost 7 years old, so I have a bit of concerns. I wonder how compatible the gem will be with e.g. Ruby 2.7, or recent versions of JRuby.

Not asking for anything (especially as an OSS maintainer myself), but wondering: @mfazekas are there st

[2020-03-16 17:08] thbar commented on #66
This seems to be a duplicate of https://github.com/net-ssh/net-sftp/issues/78.

[2020-03-16 17:14] thbar commented on #78
I compared today version `v3.0.0.beta1` and `v2.1.2` here:

https://github.com/net-ssh/net-sftp/compare/v2.1.2...net-ssh:v3.0.0.beta1#diff-d9042ac2c306d5f092d3ea67d4489942R78

This can now be set via `Net::SFTP::Session.new(ssh, version)`.

This is, though, a lower-level version of the code, so this possibility is not bubbled up to what you'd usually write:

[code]

Mentioning it, though, in case

[2020-03-16 17:22] thbar commented on #78
FWIW, on JRuby 9.2.5.0, the trick by @Laykou (https://github.com/net-ssh/net-sftp/issues/78#issuecomment-530256896) didn't work for some reason.

[2020-03-22 21:40] yu-coder opened #104 "What is the default sort option in sftp.dir.glob?"
I am going to **sort** files by **modification time** after getting `sftp.dir.glob`

Do I have to **sort** files _**manually**_ or default **sort** option is **modification time**?

[2020-03-30 10:55] naft-a opened #105 "SFTP's "write" corrupts random data sent in chunks"
Hello, I have an issue when writing data to a file using the `Session#write!` method. I am writing data to files using 1kb chunks but in some of the chunks, characters at the end are removed during the transfer. Also tested smaller/bigger chunk sizes but again, random characters were removed.

Environment:
ruby 2.6.1
rails 5.1.6
net-sftp 2.1.2

This is how I do it:
[code]
I managed to do some debu

[2020-04-03 09:25] #105 closed

[2020-04-03 09:35] thbar commented on #105
@naft-a I see that you closed the issue. Did you find out what happened? It will be useful to other people here!

[2020-04-03 13:46] naft-a commented on #105
There was an issue in the `upload()` method above, so what basically the following happened:
`WRITE_CHUNK_SIZE = 1024` is the total characters I send with each chunk, while `offset` is in bytes, therefore if a chunk contains any characters greater than 1 byte, it would be corrupted because `offset` increments by the number of characters, written, not the number of bytes written.

An example:
[code

[2020-04-21 13:57] duncan-bayne commented on #57
Happy to close this; haven't worked on it in over three years :)

[2020-04-26 06:40] mfazekas commented on #92
I've released `3.0.0.rc1` one i have feedback i'll release final verison

[2020-04-26 06:45] thbar commented on #92
@mfazekas thanks for your work on this! I will report with feedback very soon (I'm using `net-sftp` for a recent client projet).

[2020-04-26 07:01] thbar commented on #92
For those interested in reviewing the changes between the previous published version (2.1.2) and `v3.0.0.rc1`, here is the link:

https://github.com/net-ssh/net-sftp/compare/v2.1.2...net-ssh:v3.0.0.rc1

[2020-04-26 07:48] thbar commented on #92
@mfazekas with a limited testing (login, download to IO etc), things seem to be working nicely. My test suite also pass. Here is my additional feedback to improve the release:

#### Cannot set the protocol version in `Net::SFTP.start`

The new version allows one to force the SFTP version here in `Net::SFTP::Session.new`, which is a nice improvement:

https://github.com/net-ssh/net-sftp/blob/269b09

[2020-04-26 07:57] thbar commented on #92
I have requested more feedback here: https://www.reddit.com/r/ruby/comments/g8aj5m/psa_netsftp_v300rc1_is_available_for_testing/

[2020-04-26 08:41] katafrakt commented on #92
FWIW I think JRuby fix should be automatic and included in the library. There's no reason to treat JRuby as a second-class citizen in this case.

[2020-04-26 12:06] mfazekas commented on #92
@thbar

1.) on passing protocol, pls submit a PR. I'd say since it's not a backward incompat change we can put to 3.0.1

2.) on jruby ideally it should be solved at net-ssh level.

[2020-04-26 12:15] thbar commented on #92
@mfazekas I will propose a PR on both projects shortly. Thanks!

[2020-04-26 13:50] mfazekas commented on #92
@katafrakt the situation is a bit more complex than we treat JRuby as a second class citizen or not.

That is not a proper "fix" but a workaround. If we put it here we'll face ugly issues, like if that issue gets fixed on later jruby/net-ssh side then this workaround will disable for all net-sftp users.

Supporting jruby is not trivial, for example at `net-ssh` we have jurby running on CI. It's no

[2020-04-26 14:26] thbar commented on #92
@mfazekas the first part is covered in https://github.com/net-ssh/net-sftp/pull/107. I did limited bits of testing on a server for now, but will do more later!

Re JRuby: full support seems unlikely for now (CI can be a true burden), yet it is otherwise nicely working for us! If I face a trouble, I will definitely report back and create PR if possible.

"Summoning" @headius from JRuby team: what i

[2020-04-26 19:35] mfazekas commented on #92
@thbar on net-ssh
One of the issue is that we've used to check for `defined?(OpenSSL::PKey::EC)` but it was removed in a refactoring:
https://github.com/net-ssh/net-ssh/pull/696/files

We've even confirmed before that jruby has that:
https://github.com/net-ssh/net-ssh/issues/695#issuecomment-524021805

What seems to happen is that jruby defines OpenSSL::PKey::EC but deoesn't fully implements it, s

[2020-04-27 10:09] thbar commented on #92
@mfazekas thanks for the input!

Short term, after playing a bit today with the Net::SSH test suite and implementation: it seems like removing those algorithms will break a good amount of tests for now (I thought about a design that would remove the algorithms by default, yet let the user override via options, so that later if support comes in, JRuby can be upgraded without having `Net::SSH` updat

[2020-04-27 10:16] thbar opened #108 "Rubyforge link to be removed?"
The project description shows:

Rubyforge is long gone, I suggest we remove the link!

[2020-04-28 21:40] sapience opened #109 "Sometimes file disappear after uploading"
I use net-sftp gem for uploading file to remote server.
[code]
Sometimes it works and file remains on the remote sftp server. And sometimes it is downloaded and soon disappears (after one or two seconds). I can see it by using FileZilla in parallel.

Sometimes one file can be uploaded successfully from the first attempt and sometimes from second or third etc. If i use FileZilla manually or sftp fr

[2020-04-30 09:25] thbar commented on #108
Link has been updated, closing.

[2020-04-30 09:25] #108 closed

[2020-04-30 09:25] thbar commented on #92
@remear Net::SFTP v3.0.0 has been released. Could you please close the issue? Thanks!

[2020-04-30 09:33] thbar commented on #101
A first solution is to download from SFTP, then use another gem to achieve the AWS S3 Bucket upload. See https://docs.aws.amazon.com/sdk-for-ruby/v3/developer-guide/s3-example-upload-bucket-item.html for an example.

If you want to avoid storing the file locally, you will have to investigate how to do this with an in-memory stream instead.

Hope this helps @yu-coder; in all cases, the S3 part is n

[2020-04-30 09:36] thbar commented on #78
Net::SFTP v3.0.0 (published a few days ago) now allows (via https://github.com/net-ssh/net-sftp/pull/107) to do specify the protocol directly via `Net::SFTP.start`:

[code]

@wakproductions could you please try out?

[2020-04-30 09:37] thbar commented on #66
Net::SFTP v3.0.0 (published a few days ago) now allows (via https://github.com/net-ssh/net-sftp/pull/107) to do specify the protocol directly via `Net::SFTP.start`:

[code]

@lakshmi2703 could you please try out?

[2020-05-01 00:43] remear commented on #92
Thanks for all the great work!

[2020-05-01 00:43] #92 closed

[2020-05-01 08:55] sapience commented on #109
Sorry. The problem was on the server side.

[2020-05-01 08:55] #109 closed

[2020-05-15 00:32] baburdick opened #111 "Net::SSH::Exception: could not settle on encryption_client algorithm in latest release (v3)"
[code]
Rolling back restores functionality.

[2020-05-15 00:59] baburdick commented on #111
It looks like some of these should be acceptable until `net-ssh` v7. But the client is defaulting to the three remaining secure ciphers.

How do I tell the client in v3 to include `aes256-cbc,aes128-cbc` in its preferences?

[2020-06-11 22:03] ryandunlavy commented on #94
I'm seeing this as well

[2020-07-03 06:19] sunilkumarnagoore opened #112 "download a zip file in temporary memory"
i have a zip file on remote system how can i download in temp memory or get it in memory

[2020-07-17 21:40] fakefarm commented on #111
I'm here for the same reason.

[code]

[2020-07-24 21:08] fakefarm commented on #111
Solved over here: https://github.com/net-ssh/net-ssh/issues/780

[2020-07-24 21:34] baburdick commented on #111
That's "a" solution. But it seems fairly coarse. No way to more tightly control which algorithms you're willing to use? A badly configured server could default to a truly poor algorithm. Unless I'm misconceiving of this, some are much more easily exploitable.

[2020-08-11 04:01] esl-douglas opened #113 "Is there a way to delete a file/directory?"

[2020-08-11 04:27] #113 closed

[2020-09-01 20:49] NavindrenBaskaran opened #114 "NET-SFTP File Closing Behaviour"
### First Approach

[code]

With this approach after the perform the read, the file still exists in the SFTP Server.

### Second Approach

[code]

With this approach at the end of the block, the file is no longer in the SFTP Server, would like to understand why it works as such.

[2020-09-10 13:42] rngtng commented on #112
see https://github.com/net-ssh/net-sftp/blob/acbd1f7d435bb8bcc89a31b91bdfb6c8943df640/lib/net/sftp/operations/download.rb#L39-L41

[2020-09-10 14:05] rngtng opened #115 "Infinte when downloading empty or non-existent file"
We've a problem with blocked operation when trying to downloading empty or non-existent file. E.g:

[code]

Do we use/config the gem wrong? What's best way to solve this? We had idea  first get directory listing, although for a large directory this takes a while. Other idea is to span an additional thread which kill the command after a while.

Any suggestions?

[2020-09-10 19:35] rngtng commented on #115
Update: problem seems that server closes the connection, I see that `@sftp.session.channels` is empty, but the download event loop still active as `on_close` isn't called

[2020-09-11 14:49] rngtng commented on #115
**Update**: the current workaround we found it to spawn a watch-thread which kills are timeout, see https://stackoverflow.com/questions/9894407/ruby-netsftp-transfer-interrupt-handling

[2020-10-24 04:44] nspriego commented on #79
Hi @badosu Can you shed some light on what the misconfiguration was here?

[2020-10-26 02:41] badosu commented on #79
Sorry, I don't have the slightest idea what I did here anymore.

[2020-10-26 15:09] nspriego commented on #79
I figured, it was quite some time ago. At this point Im throwing Hail
Marys.. :) Thanks for the response

On Sun, Oct 25, 2020 at 8:41 PM Amadeus Folego <notifications@github.com>
wrote:

[2020-11-26 15:03] AquisTech commented on #57
@duncan-bayne I am having some issues in uploading to SFTP. Not able to figure out. Could you tell me, in your case, was there any error returned after prolonged hanging?

[2020-12-21 16:11] hosamaly commented on #35
This issue was fixed in v3.0.0 (commit 266e810c)

[2021-01-29 18:19] nataliehanisch opened #118 "Error response on file upload, but uploads the file anyway"
When I upload a text file containing special characters (e.g. `èÿÅÄÃ`), this I get an error response, yet the file is successfully uploaded to the server. The issue is that I want to automatically retry to upload if it fails, but I am unable to detect that it failed. If I manually access the server I can place a similar file with special characters with no problem. I do not need to upload files co

[2021-02-12 07:18] dawidof commented on #99
@RootTJNII actually I got problem with `upload!`, it can be tempfile or stringIO

[2021-02-16 12:48] dawidof commented on #99
Issue solved, connection was in class method, which was cached, moved the connection to instance method.

[2021-02-23 17:00] charlottepages commented on #39
+1 seeing this too

[2021-02-25 20:14] kmeyerhofer commented on #94
I was experiencing this issue when attempting to iterate over all files within a directory. I was able to connect to the server, `upload!` files and open directories, but if I attempted to utilize the `Net::SFTP::Operations::Dir` methods (`#entries`, `#foreach`), on one specific directory, I would receive this ```NoMethodError (undefined method `send_data' for nil:NilClass)``` exception.

When I f

[2021-03-16 22:49] TheUrbina20 commented on #88
@itmart did you figure this out?

[2021-03-26 06:47] vknightbd opened #121 "Typo "raeddir" instead of "readdir""
https://github.com/net-ssh/net-sftp/blob/54779becdd9af866255f84526469dfef9eac04f8/lib/net/sftp/session.rb#L422

[2021-03-26 08:26] #121 closed

[2021-03-30 03:23] dan-corneanu opened #123 "can generate CSV directly onto sftp.file.open"
`io = sftp.file.open` claims to produce an IO-like object. However, trying to use it as output for CSV gives an error.
Here is an example
[code]

This generate the following error
[code]

The easy fix would be to probably implement `Net::SFTP::Operations::File#<<` in terms of `Net::SFTP::Operations::File#write`

[2021-03-30 07:01] dan-corneanu commented on #123
I've aliased `<<` to `write` in `Net::SFTP::Operations::File`
See PR #124

[2021-04-07 08:52] misdoro commented on #57
hanging can be caused by protocol issue, can you try if the patch from https://github.com/net-ssh/net-ssh/pull/672 solves it for you ?

[2021-05-06 11:13] andy-twosticks commented on #2
I've fallen foul of this issue, too.  In my case I've got a process that is just reading directory information, but when I go to close the connection it hangs -- but not on my test server, only on the external live one we actually want to connect to :/

I've come up with a workaround -- I force-close the underlying SSH connection.  I don't think you can access the SSH object without invoking the S

[2021-06-14 11:43] wteuber opened #126 "certificate /CN=netssh/DC=solutious/DC=com not valid after 2021-04-26"
Following the documentation in README.md, I ran
[code]
and I got
[code]

[2021-08-23 17:45] rhazegh opened #127 "All links are broken on the documentation page http://net-ssh.github.io/"
### Reproduction steps:

1. Go to http://net-ssh.github.io/
2. Click on any link

### Result:
You get a 404 response
<img width="674" alt="Screen Shot 2021-08-23 at 13 41 56 " src="https://user-images.githubusercontent.com/2200559/130492614-b51b3655-a439-4ae0-8f7f-f4cdbf900e7f.png">

### Expected result:
The documentation page should link to the corrent address.
- `https://net-ssh.github.com/sftp/

[2021-09-07 07:14] shapkin opened #128 "Net::SSH::Exception padding error"
I'm trying to connect to sFTP server:

`Net::SFTP.start("SERVER_IP", "username", password: "password", non_interactive: true, verify_host_key: :never, verbose: :debug)`

This generate the following error

[code]

Full traceback:

[code]

[2021-09-14 15:47] ric2b commented on #127
Just ran into the same issue, should be `github.io` instead of `github.com`

[2021-12-20 20:23] csrowell commented on #2
This sounds a lot like [net-ssh issue #716: Closing Remaining Channels hangs](https://github.com/net-ssh/net-ssh/issues/716). Their fix was to call `sftp.channel.eof!` before closing the connection.

[2021-12-23 09:32] itsalongstory opened #129 "How to set the network connection timeout option ?"
Hello team,

How to set the network connection `timeout` option ?

[2022-01-17 18:00] quantson opened #130 "Upgrading to ruby 3.1 leads to "verify_signature" error"
Hello,

We're using the net-sftp gem to connect to various SFTP servers hosted by our customers. We recently upgraded to ruby 3.1 from 3.0.2 and are now receiving the below exception on a small sample of our outgoing connections (3 out of approximatively 20 different servers).

[code]
I unfortunately don't know much about how those distant servers are set up.
I've tried to connect using the `appen

[2022-01-19 14:48] msproact opened #133 "does not take UTF-8 more byte character length into account when writing data to a file"
I have:

[code]

(source from https://github.com/proact-de/distkeys with some minor adaptions made during debugging this)

which should produce:

[code]

But it produces:

[code]

As hexdump:

[code]

Just using "puts" to terminal produces the correct result. I bet Net:SFTP overloads the method and it has to do with the SFTP specific implementation.

If you use "Dozentenschlüüssel" instead then tw

[2022-01-25 16:05] Thornolf commented on #130
Hey ! We have the same problem on our side with our application, how could we help you to fix this ?

[2022-01-26 14:48] quantson commented on #130
@Thornolf, see the thread on the net-ssh issue (https://github.com/net-ssh/net-ssh/issues/847), you can fix the issue by forcing openssl < 3.0 in your gemfile

[2022-01-28 20:01] SpringsTea commented on #67
I am having this issue as well, but it's very sporadic. I have a bare basic implementation.

[code]

I had this running like this for several years when suddenly this year it started throwing this error. But not all the time, only sometimes. Sometimes it works with no issue. I've talked to my sftp host and they tell me there is no problem on their end. I'm transferring xml files and images in the

[2022-02-04 00:04] clarkedb opened #135 "Add Ruby 3.0 to travis CI"
It seems that this gem works on Ruby 3.0. Should that ruby version be added to the list in the CI to make sure it continue to be compatible?

[2022-04-12 12:51] fwininger commented on #130
I have the same issue on a Centos 6 and if I bypass host key verification with : verify_host_key: :never, i have :

[code]

[2022-04-15 14:42] fwininger commented on #130
PR https://github.com/net-ssh/net-ssh/pull/857 solve this issue.

[2022-05-02 21:40] tatums commented on #129
+1

This would be very helpful.  In my case calling `Net::SFTP.start` on a sftp server that never replies will just wait indefinitely.

[2022-05-19 07:37] quantson commented on #130
Thank you @fwininger, closing this :)

[2022-05-19 07:37] #130 closed

[2022-06-06 23:44] delaneygqltrcs commented on #128
I'm seeing this same issue. Did you figure it out @shapkin? @emnabarred do you have any idea how to fix this?

[2022-06-25 02:11] coffenbacher commented on #128
Also seeing this, happened after recently updating net-ssh, still looking for a root cause...

[2022-06-25 02:33] coffenbacher commented on #128
Upgrading to this beta version seems to have helped!

gem 'net-ssh', '~> 7.0.0.beta1', require: 'net/ssh'

seems related to https://github.com/net-ssh/net-ssh/pull/864 and https://github.com/net-ssh/net-ssh/issues/847

[2022-06-26 10:03] edmorley opened #136 "Allow use of `net-ssh` v7.0.0 (for OpenSSL 3 compatibility)"
This gem has a dependency on `net-ssh` with a range of `">= 5.0.0", "< 7.0.0"`.

However `net-ssh` v7 was just released, with fixes for OpenSSL 3:
https://rubygems.org/gems/net-ssh/versions/7.0.0
https://github.com/net-ssh/net-ssh/pull/864

Please can this gem be updated to support v7 of `net-ssh`, so it can be used with OpenSSL 3?

Many thanks!

https://github.com/net-ssh/net-sftp/blob/900775d32e

[2022-06-27 09:24] #136 closed

[2022-07-08 08:25] barryhalper commented on #126
Am also getting this error after re-installing on ruby 3.1.2

[2022-07-14 07:00] edmorley opened #138 "Release a new version"
Please can a new version of this gem be released, in order to pick up #137 for compatibility with OpenSSL 3 and therefore Ubuntu 22.04?

Many thanks :-)

cc @mfazekas

[2022-07-29 18:03] asecondwill commented on #27
I still get this problem

[2022-07-29 18:24] bradland commented on #27
@asecondwill it seems like you might have commented on the wrong issue, because the issue documented here does not product that error.

[2022-08-01 11:57] asecondwill commented on #27
@bradland  - as above, the error is from the workaround, not the main issue.  downloading large files, without the workaround results in a hang.

[2022-08-01 16:53] bradland commented on #27
@asecondwill ah, I see. You're referring to the suggestion to call `sftp.session.scp.download!(remote_path, local_path)`. For that to work, you'll need the [net-scp gem](https://github.com/net-ssh/net-scp) as well, and you'll need to require it for the `scp` method to become available. Note that using scp is entirely different than sftp. They both us SSH for encrypted transport, but that "workarou

[2022-08-16 17:15] lostie commented on #138
Hi @mfazekas , any plans for a new release?

[2022-08-20 09:16] mvz commented on #135
Both 3.0 and 3.1 are being tested using GitHub Actions now: https://github.com/net-ssh/net-sftp/blob/master/.github/workflows/ci.yml#L9

[2022-08-20 14:22] #135 closed

[2022-08-25 19:10] ericgross commented on #138
@delano would you consider cutting a release?

[2022-08-25 19:13] delano commented on #138
I'd like to help but I couldn't give an estimate on when I'd be able to follow up.

[2022-08-25 19:24] ericgross commented on #138
Would it be possible for me to do this? If so, do you have any guidance on
what is required?

On Thu, Aug 25, 2022 at 12:14 PM Delano ***@***.***> wrote:

[2022-08-30 16:54] jayelkaake commented on #113
Just for others who might be wondering the same thing, the command is `remove!`.

[2022-08-30 16:56] jayelkaake commented on #54
Just an FYI for others, use `TempFile` and the `upload!` command to create a temporary file and upload it instead. That will go MUCH faster (and won't hang for larger files).

[2022-09-07 23:30] kmeyerhofer commented on #2
This issue, an `IOError: closed stream`, consistently popped up for me just recently after a few years of using the implementation I described [above in my comment](https://github.com/net-ssh/net-sftp/issues/2#issuecomment-582669165). Additionally, the file I was trying to upload successfully reached the server, but the exception was still raised. The suggestion in [net-ssh/net-sftp#716](https://g

[2022-09-14 14:34] ShockwaveNN commented on #138
Any news? It's sad that right now there is incompatibility with Ubuntu 22.04

[2022-09-22 12:07] mfazekas commented on #138
https://rubygems.org/gems/net-sftp/versions/4.0.0.rc1

[2022-10-20 11:16] raychiranjib1 opened #140 "could not settle on kex algorithm - SFTP connection failed"
SFTP connection failed using Net::SFTP client. But it's working with Filezilla and sftp command.

`sftp -i ~/.ssh/private_key.pub -P 16321 -oKexAlgorithms=diffie-hellman-group1-sha1 -c aes128-cbc user@host`

Code Example:

[code]
Output:
[code]

Is it possible to use any of these Server preferences kex algorithms instead?
Is there any way to define Net::SFTP to use local ssh config?

[2022-10-28 00:38] ajsharma commented on #129
You should be able to pass in a `timeout` option when calling start.

`Net::SFTP.start(host, user, timeout: 1)`

not obvious, but it should map to `Net::SSH.start` which does take a timeout.

[2022-10-31 02:53] #129 closed

[2022-11-01 13:33] dcermak commented on #138
@mfazekas Could you please release a non RC version as well? Thank you!

[2022-11-29 04:27] itsalongstory commented on #104
[code]

`files.sort_by { |file| file[:mtime] }` may be the way you want to go.